{{>adminHeader user=this.user}}
<!-- banner part start-->
{{>adminHeader user=this.user}}
<!-- breadcrumb start-->

<div hidden id="ByYearValue">{{ByYearValue}}</div>
<div hidden id="ByMonthmonthValue">{{ByMonthmonthValue}}</div>
<div hidden id="ByMonthyearValue">{{ByMonthyearValue}}</div>
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="api-title">ADMIN MANAGEMENT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Blog Area =================-->
<!-- use sasu part end-->
<section class="use_sasu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="chart" style="position: relative; height:200px;">
                    <div class="single-element-widget mt-30">
                        <div class="default-select" id="default-select_2" style="display:flex">
                            <form method="GET" action="/admin/accessmanage">
                            <select class="yearOptions" name="year" id="ByYear"></select>
                            <button type="submit" class="getAccessNumberBtn genric-btn success-border">GET</button>
                            </form>
                        </div>
                    </div>
                        {{#each dataAccess}}
                        <span style="color: white;" id={{id}} name={{id}}>{{value}}</span>
                        {{/each}}
                    <canvas id="accessNumberChart"></canvas>
                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    
                    <script>
                        //đổ data ở đây !
                        let data = [0,0,0,0,0,0,0,0,0,0,0,0];
                        data = data.map((elem, index) => {
                            return (parseInt($(`#${index+1}`).html()) || 0);
                        });
                        console.log('data----', data);
                        console.log('vaalll',$("#10").html());
                        var ctx = document.getElementById("accessNumberChart");
                        var accessNumberChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                datasets: [{
                                    label: 'VND',
                                    data: data,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 2
                                }]
                            },

                        });
                    </script>
                  
                    {{!-- <script>$(`#ByYearAC option[value=${$("#ByYearValue").text()}]`).attr("selected", true);</script> --}}
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

{{#section 'footer'}}
   <script src="/js/myCustom.js"></script>
{{/section}}
  
{{>footer}}
<script >
    let currentYear = new Date().getFullYear();
    let startYear = 2015;
    while (startYear <= currentYear) {
    startYear++;
    $(".yearOptions").append(
        `<option value=${startYear} id='${startYear}year'>${startYear}</option>`
    );
    }
    console.log("{{ByYearValue}}")
    $(`#ByYear option[value=${"{{ByYearValue}}"}]`).attr("selected", true);
</script>