{{>adminHeader user=this.user}}
<!-- banner part start-->
{{>adminHeader user=this.user}}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="api-title">ADMIN MANAGEMENT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Blog Area =================-->
<!-- use sasu part end-->
<section class="use_sasu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>REVENUE BY YEAR</h2>
                    <div class="chart" style="position: relative; height:200px; margin-bottom:100px">
                        <div class="single-element-widget mt-30">

                            <div class="default-select" id="default-select_2" style="display:flex">
                                <form method="GET" id="revenue" action="/admin/revenuemanage">
                                <select class="yearOptions" name="revenueByYear" id="revenueByYear-YearOptions"></select>
                                <button type="submit" class="getRevenueByYearBtn genric-btn success-border">GET</button>
                                </form>
                            </div>
                        </div>
                        <span style="color: white;" id='leng' name='leng'>{{numberPackage}}</span>
                        {{#each total}}
                        <span style="color: white;" id={{id}} name={{id}}>{{totalSum}}</span>
                        {{/each}}
                        {{#each byMonth}}
                        <span style="color: white;" id={{id}} name={{id}}>{{total}}</span>
                        {{/each}}
                        {{#each byMonth}}
                        <span style="color: white;" id={{idName}} name={{idName}}>{{name_package}}</span>
                        {{/each}}
                        <canvas id="revenueByYear"></canvas>
                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script>
                            //đổ data ở đây !
                            let revenueData1 = [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3];
                            revenueData1 = revenueData1.map((elem, index) => {
                            return (parseInt($(`#${index+1}`).html()) || 0);
                            });
                            var ctx = document.getElementById("revenueByYear");
                            var revenueByYearChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                    datasets: [{
                                        label: 'VND',
                                        data: revenueData1,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 2
                                    }]
                                },

                            });
                        </script>
                    </div>

                    <h2>REVENUE BY MONTH </h2>
                    <div class="chart" style="position: relative; height:200px;">
                        <div class="single-element-widget mt-30">

                            <div class="default-select" id="default-select_2" style="display:flex">
                                <select form="revenue" class="yearOptions"  name="yearByMonth" id="revenueByMonth-YearOptions"></select>
                                <select form="revenue" class="monthOptions" name="monthByMonth" id="monthByMonth-MonthOptions"></select>
                                <button form="revenue" class="getRevenueByMonthBtn genric-btn success-border" type="submit">GET</button>
                            </div>

                        </div>
                        <canvas id="revenueByMonth"></canvas>
                        <script>
                            {{!-- //đổ data ở đây ! --}}
                            let packageData = Array(parseInt($(`#leng`).html())).fill('');
                            packageData = packageData.map((elem, index) => {
                                return ($(`#${index+1000}`).html()) || '';
                            });
                            console.log('packageData------', packageData);
                            let revenueData2 = Array(parseInt($(`#leng`).html())).fill(0);
                            revenueData2 = revenueData2.map((elem,index) => {
                                return (parseInt($(`#${index+100}`).html()) || 0);
                            });
                            console.log('revenueData2-----', revenueData2);
                            var ctxx = document.getElementById("revenueByMonth");
                            var revenueByMonthChart = new Chart(ctxx, {
                                type: 'bar',
                                data: {
                                    labels: packageData,
                                    datasets: [{
                                        label: "",
                                        data: revenueData2,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 2
                                    }]
                                },

                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_1.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_2.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_3.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

</section>
<!--================Blog Area =================-->

{{>footer}}
