
<!--Modal: modalPush-->
<div class="modal fade  {{#if message}}show{{/if}}" id="modalPush" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" {{#if message}} style="display:block" {{/if}}>
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Message</p>
            </div>
            <!--Body-->
            <div class="modal-body">
                <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                <p>{{message}}</p>
            </div>
            <!--Footer-->
            <div class="modal-footer flex-center">
                {{!-- <button type="button" class="btn btn_1"><a style="color:white">Yes</a></button> --}}
                <button type="button" class="closeModalBtn btn btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->
{{>adminHeader user=this.user}}
<!-- banner part start-->
{{>adminHeader user=this.user}}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="api-title">USER MANAGEMENT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Blog Area =================-->
<!-- use sasu part end-->
<section class="use_sasu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>USER DETAIL</h2>
                    <div class="section-top-border">
                        <h3 class="mb-30">User's Keys</h3>

                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="serial">#</div>
                                    <div class="percentage">API Key</div>
                                    <div class="country">Package Type</div>
                                    <div class="country">Expired</div>
                                    <div class="visit">Change</div>
                                    <div class="visit">Renew</div>
                                    <div class="visit">Valid</div>
                                </div>
                                {{#each listKey}}
                                {{!-- đổ data ở đây --}}
                                <div class="table-row">

                                    <div class="serial">{{this.index}}</div>
                                    <div class="percentage"><input form="changekey{{id}}" type="hidden" name="id"
                                            value={{value}}>{{value}}</div>
                                    <input form="renewkey{{id}}" type="hidden" name="idPackage" value={{id_package}}>
                                    <input form="renewkey{{id}}" type="hidden" name="idKey" value={{id}}>
                                    <input form="validkey{{id}}" type="hidden" name="idKey" value={{id}}>

                                    <div class="country" style="justify-content: center">{{name_package}}</div>
                                    <div class="country" style="justify-content: center">{{date_expired}}</div>

                                    <div class="visit">
                                        <form id='changekey{{id}}' method="POST" action='/admin/userdetail/changekey'
                                            style="width:100%">
                                            <button style="justify-content: center"
                                                class="genric-btn primary-border circle" type="submit">Change</button>
                                        </form>

                                    </div>

                                    <div class="visit">
                                        <form id="renewkey{{id}}" method="POST" action="/admin/userdetail/renewkey"
                                            style="width:100%">
                                            <button style="justify-content: center"
                                                class="genric-btn success-border circle" type="submit">Renew</button>
                                        </form>
                                    </div>
                                    <div class="visit">

                                        <form id='validkey{{id}}' method="POST" action='/admin/userdetail/validkey'
                                            style="width:100%">
                                            <button style="justify-content: center"
                                                class="genric-btn primary-border circle" type="submit">{{status}}</button>
                                        </form>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            
                        </div>
                       {{#each pages}}

                            <a class="getRevenueByYearBtn genric-btn success-border  {{#if this.currentPage}}currentPage{{/if}} "
                              {{#if this.currentPage}}{{else}}href="?page={{this.id}}"{{/if}}>{{this.id}}</a>
                    {{/each}}
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_1.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_2.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_3.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>
</section>
<!--================Blog Area =================-->

{{>footer}}